doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Calum Sites and Services Status
    link(rel='stylesheet' href='style.css')
    link(rel='shortcut icon' href='favicon.ico')
  body
    h1 Calum Sites and Services Status
    p Generating data, please wait and refresh the page to see the report.
    a(href='/' class='btn') Retry
    p(class='small')
      a(href='https://calum.gq') Calum.GQ